$color1: #0e0506 !default; // darkest
$color2: #ddd7d7 !default; // lightest
$color3: #b4502d !default; // lighter
$color4: #dd0808 !default; // vibrant
$color5: #ddd7d7 !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black

