$color1: #0e0506; // darkest
$color2: #ddd7d7; // lightest
$color3: #b4502d; // lighter
$color4: #dd0808; // vibrant
$color5: #ddd7d7; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black

